/* Edited by Joseph Tajaran */

/* OVERALL --------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: visible;
}

/* Content Wrapper */
.wrapper {
	width: 100%;
}

/* STYLE GUIDE --------------------------------------------------*/

/* TYPOGRAPHY ----------*/
/* Yusei Magic */
h1, h2, h3 {
	font-family: 'Yusei Magic', sans-serif;
}

/* H1 */
h1 {
	font-family: 'Yusei Magic', sans-serif;
	font-size: 60px;
}


/* Poppins */
p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
}


/* BUTTON ----------*/
/* Button Active */
button {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
  background-color: #003D35;
  color: #FFFFFF;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 30px;
}

/* Button Hover */
button:hover {
  background-color: #FFFFFF;
  color: #003D35;
}


/* HEADER --------------------------------------------------*/
header {
	display: flex;
	justify-content: center;
	padding: 8px 0;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	width: 100%;
}

.logo {
	width: auto;
}

.logo img {
	width: 192px;
	height: auto;
}

/* CONTENT --------------------------------------------------*/
main {
	display: flex;
	justify-content: center;
}

.hero-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	max-width: 1440px;
	width: 100%;
}

.hero-content {
	text-align: center;
	width: 447px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

.about-wrapper {
	display: flex;
	flex-flow: row wrap;
	max-width: 1440px;
	width: 100%;
}

.about-content {
	padding: 0 1.25rem 4rem;
	width: inherit;
}

.about-content h2 {
	font-size: 1.875rem;
	padding-bottom: 1.125rem;
}

.about-content p {
	font-size: .875rem;
	padding-bottom: 2rem;
}

.about-img-div {
	width: inherit;
	align-content: center;
	display: flex;
}

.about-content img {
	margin: 0 auto;
	width: inherit;
}



/* 414px RESPONSIVE DESIGN --------------------------------------------- */
@media screen and (max-width: 414px) {
	
	/* CONTENT --------------------------------------------------*/

/*End @414px media query */
}