/* Edited by Joseph Tajaran */

/* OVERALL --------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	color: #404040;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

main {
	color: #404040;
}

/* Content Wrapper */
.wrapper {
  width: 100%;
}

/* STYLE GUIDE --------------------------------------------------*/

/* TYPOGRAPHY ----------*/
/* Yusei Magic */
h1, h2, h3 {
  font-family: 'Yusei Magic', sans-serif;
}

/* H1 */
h1 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: clamp(3.1875rem, 2.16rem + 2.29vw, 4.1875rem);
	margin-bottom: 20px;
}

/* Poppins */
h4 {
  font-family: 'Poppins', sans-serif;
	font-size: 4.188em;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
	font-size: clamp(1.125rem, .75rem + .833vw, 1.5rem);
}

/* BUTTON ----------*/
/* Button Active */
button {
    font-size: 0.875em;
    font-family: 'Poppins', sans-serif; font-weight: 700;
    letter-spacing: 0.1em;
    background-color: #333;
    color: #FFFFFF;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 40px;
    position: absolute;
    top: 24px;
    filter: drop-shadow(0px 2px 0px rgba(65, 61, 69, 0.2));
}

/* Button Hover */
button:hover {
  background-color: #FFFFFF;
  color: #333;
}


/* HEADER --------------------------------------------------*/
header {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

nav button {
	width: 96px;
	height: 40px;
	position: relative;
	right: 63px;
	top: 0px;
	background-color: #F5AD55;
}

nav button:hover {
  color: #FFF;
	background-color: #F87B22;
}

nav button:active {
	top: 6px;
}

.logo {
	position: relative;
	left: 64px;
}

.logo img {
  width: 183.45px;
}


/* CONTENT --------------------------------------------------*/

main {
  justify-content: center;
  min-height: 100vh;
  flex: 1;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1440px;
  width: 100%;
	align-self: center;
}

.hero-content {
	width: 528px;
	padding-top: 120px;
	margin-bottom: 432px;
	padding-left: 64px;
}

.hero-content h1 {
	padding-bottom: 20px;
}


.about-wrapper {
  	display: flex;
	flex-flow: column;
	max-width: 1440px;
	align-self: auto;
	overflow-x: hidden;
	padding-top: 180px;
	padding-bottom: 20px;
}

.about-content {
	display: flex;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 160px;
	overflow-x: hidden;
}

.about-text-then-img {
	flex-direction: row;
	align-self: left;
}

.about-img-then-text {
	flex-direction: row-reverse;
}

.about-text {
	width: clamp(385px, 242px + 19.9vw, 528px);
	align-self: center;
	flex-shrink: 0;
}

.about-text-left {
	margin-right: 2rem;
}

.about-text-right {
	margin-left: 2rem;
}

.about-content h2 {
	font-size: clamp(2.5rem, 29px + 1.53vw, 3.1875rem);
	padding-bottom: 1.25rem;
}

.about-content p {
	font-size: 1.125rem;
	padding-bottom: 2rem;
}

.about-img-div {
	align-content: center;
	display: flex;
}

.about-img-then-text img {
	float: right;
	overflow-x: hidden;
}

.about-text-then-img img {
	float: left;
	overflow-x: hidden;
}

.about-content img {
	width: 752px;
}

.how-it-works-wrapper {
	display: flex;
	flex-flow: column;
	max-width: 1440px;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-self: center;
}

.how-it-works-header {
	padding: 0 1.25rem 5rem;
	width: 100%;
	max-width: clamp(456px, 314px + 25.28vw, 638px);
	align-self: center;
}

.how-it-works-header h2 {
	font-size: clamp(3.1875rem, 2.16rem + 2.29vw, 4.1875rem);
	padding-bottom: 2rem;
}

.how-it-works-header p {
	font-size: clamp(1.125rem, .75rem + .833vw, 1.5rem);
}

.how-it-works-content-wrapper {
	display: flex;
	flex-flow: row wrap;
	max-width: 1440px;
	width: inherit;
	justify-content: center;
	margin: 0 auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

.how-it-works-content {
	padding: 0 1rem 5rem;
	width: 100%;
	max-width: 416px;
}

.how-it-works-content img {
	width: 136px;
}

.how-it-works-content h3 {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
}

.how-it-works-content p {
	font-size: 1rem;
}

.resources-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  padding-left: 4.444%;
  padding-right: 4.444%;
  margin: 0 auto;
}

.resources-header {
  text-align: center;
  width: 100%;
  padding-bottom: 5rem;
}

.resources-header h2 {
  font-size: clamp(3.1875rem, 2.16rem + 2.29vw, 4.1875rem);
}

.resources-content {
  border-radius: 1.25rem;

  box-shadow: 0px 0px 12px rgba(28, 28, 29, 0.4);
  margin: 0 auto 2rem;
  padding: 1.5rem .875rem 1.5rem;
  max-width: 280px;
}

.resources-content h4 {
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.resources-content p {
	font-size: 1rem;
	padding-bottom: 1rem;
}

.resources-arrow-div{
	position: relative;
}

.arrow-hover{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.arrow-hover:hover {
	opacity: 1;
}

.contact-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	background-color: #18544E
}

.contact-content {
  position: relative;
  text-align: center;
	align-self: center;
  padding: 20px;
	padding-top: 112px;
	padding-bottom: 0px;
	width: 456px;
	color: #FFF;
}

.contact-content h1 p {
	color: #FFF;
}

.contact-content a {
	width: inherit;
}

.contact-content button {
	position: relative;
	margin-top: 32px;
	margin-bottom: 112px;
	width: 280px;
	height: 56px;
	color: #18544E;
	background-color: #FFF !important;
	filter: drop-shadow(0px 2px 0px rgba(65, 61, 69, 0.2));
}

.contact-content button:hover{
  background-color: #EEEEEE;
}

.contact-content button:active{
  /* top already at 24px, 6px added on active state */
  top: 30px;
}

/* FOOTER --------------------------------------------------*/

footer p {
  text-align: center;
  color: #FFF;
	font-size: 0.875em;
	line-height: 1.3em;
	padding: 18px, 0px;
}

.credit {
	color: #FFF;
}

footer {
  flex-shrink: 0;
  background-color: #11423D;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

    
/* 1440px and greater (only) RESPONSIVE DESIGN ---------------------------------- */
@media screen and (min-width: 1440px){

	.about-wrapper {
		align-self: center;
	}

  .contact-content button {
    padding-left: 0px;
    padding-right: 0px;
  }

}
    
/* 1308px and less responsive design (resource div 1x4 -> 2x2) --------- */
@media screen and (max-width: 1308px) {
	.resources-wrapper {
		padding-left: 10%;
		padding-right: 10%;
	}

	.resources-header {
		padding-bottom: 4rem;
	}

	.resources-content {
		margin-left: 2rem;
		margin-right: 2rem;
	}

}

/* 945px and less responsive design */
@media screen and (max-width: 945px) {
	.resources-header h2 {
		font-size: 7.08vw;
	}
}

/* 927px and less responsive design */
@media screen and (max-width: 927px) {
	.how-it-works-header h2 {
		padding-bottom: 1.25rem;
	}
	
	.how-it-works-content {
		padding-bottom: 64px;
	}

	.how-it-works-content h3 {
		padding-top: 1rem;
	}
}

/* 850px and less responsive design ----------------------------------- */
@media screen and (max-width: 850px) {
	.resources-wrapper {
		flex-flow: column;
	}

	.resources-content {
		margin-left: auto;
		margin-right: auto;

	}
}

/* 721px RESPONSIVE DESIGN --------------------------------------------- */

@media screen and (max-width: 721px) {


  h1 {
    font-size: 3.18em;
  }
  
  p {
    font-size: 1.125em;
  }

  .logo {
    left: 64px;
  }

  nav button {
    right:64px;
  }

}

/*End @721px media query */


/* 720px and less responsive design ----------------------------------- */
@media screen and (max-width: 720px) {

  header {
		padding: 15px, 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  }

  nav button:hover {
    text-decoration: underline;
  }
  
    nav button {
    right:20px;
		color: #333;
		background-color: transparent;
    filter: none;
    border: none;
    font-weight: normal;
  }

  .logo img {
		width: 133px;
	}

  .logo {
    left: 20px;
  }

	.hero-content {
		padding-left: 20px;
	}
  
  .about-wrapper {
		width: 100%;
		padding-top: 96px;
		padding-bottom: 32px;
	}
	
	.about-text-then-img {
		flex-direction: column;
	}

	.about-img-then-text {
		flex-direction: column;
	}

	.about-content {
		width: inherit;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		padding-bottom: 64px;
	}

	.about-text {
		width: inherit;
		padding: 0;
		margin: 0;
	}

	.about-img-div {
		width: inherit;
		padding: 0;
	}

	.about-content img {
		margin: 0 auto;
		width: inherit;
		height: auto;
	}

	.how-it-works-header {
		padding-bottom: 64px;
	}

	.how-it-works-content-wrapper {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
  .how-it-works-content {
		max-width: 456px;
		padding-left: 0;
		padding-right: 0;
	}
  
  .resources-header h2 {
		font-size: 3.1875rem;
	}

	.contact-content {
		padding-top: 64px;
	}

	.contact-content button {
		margin-top: 29px;
		margin-bottom: 64px;
	}

}
  
  /* 497px RESPONSIVE DESIGN --------------------------------------------- */
@media screen and (max-width: 497px) {

	.hero-content {
		margin-bottom: 230px;
	}

	.contact-content button {
		margin-top: 20px;
	}

}

/*End @497px media query */

/* 496px and less responsive design --------------------------------- */
@media screen and (max-width: 496px) {

		h1 {
		font-size: 2.5em;
    }

    p {
      font-size: 0.875em;
    }

    .hero-content {
      width: 280px;
      margin-bottom: 246px;
    }
  
  .about-content h2 {
		font-size: 1.875rem;
	}

	.about-content p {
		font-size: .875rem;
	}
  
  .how-it-works-header h2 {
		font-size: 2.5rem;
	}
	
	.how-it-works-wrapper p {
		font-size: .875rem;
	}

	.how-it-works-content h3 {
		font-size: 1.25rem;
	}
    
	.resources-wrapper {
		padding-right: 1.25px;
		padding-left: 1.25px;
	}

	.resources-header h2 {
		font-size: 2.5rem;
	}

	.resources-content h4 {
		font-size: 1rem;
		padding-top: 0;
	}

	.resources-content p {
		font-size: .875rem;
	}
  
  	.contact-content h1{
      font-size: 2.5em;
    }

	.contact-content p {
      font-size: 0.875em;
    }

	.resource-icon {
		display: none;
	}


}


/* 320px RESPONSIVE DESIGN --------------------------------------------- */
@media screen and (max-width: 320px) {

	header {
		padding: 14px 0px;
	}

	.logo {
		left: 21px;
	}

	nav button {
		right: 21px;
		margin-top: 20px;
	}

	.hero-wrapper {
		width: 100%;
	}

	.hero-content h1 {
		min-width: 280px;
		font-size: 40px;
		margin-bottom: 20px;
	}

	.hero-content p {
		font-size: 14px;
	}
  
  .contact-content {
		width: 280px;
	}

	.contact-content button {
		position: relative;
		right: 20px;
		top: 0px;
	}

	footer p {
		font-size: 0.875em;
		line-height: 1.3em;
  }
}

/*End @320px media query */
  
/* less than 310px RESPONSIVE DESIGN */
@media screen and (max-width: 310px){
	.contact-content button {
		right: 0px;
		width: 240px;
	}

}

/* less than 300px RESPONSIVE DESIGN */
@media screen and (max-width: 300px){
  .resources-content {
    margin-left: .625rem;
    margin-right: .625rem;
  }
  
  .logo {
		left: 21px;
	}

	nav button {
		right: 21px;
	}
  
	.resources-content {
		margin-left: .625rem;
		margin-right: .625rem;
	}
}