<section class="about-wrapper">
  
  <div class="about-content about-text-then-img">
    <div class="about-text about-text-left">
      <h2>{{ site.data.about[0].heading }}</h2>
      <p>{{ site.data.about[0].desc }}</p>	
    </div>
    <div class="about-img-div">
      <img src="{{ site.data.about[0].image }}" alt="{{ site.data.about[0].alt }}">
    </div>
  </div>

  <div class="about-content about-img-then-text">
    <div class="about-text about-text-right">
      <h2>{{ site.data.about[1].heading }}</h2>
      <p>{{ site.data.about[1].desc }}</p>	
    </div>
    <div class="about-img-div">
      <img src="{{ site.data.about[1].image }}" alt="{{ site.data.about[1].alt }}">
    </div>
  </div>
  
  <div class="about-content about-text-then-img">
    <div class="about-text about-text-left">
      <h2>{{ site.data.about[2].heading }}</h2>
      <p>{{ site.data.about[2].desc }}</p>
    </div>
    <div class="about-img-div">
      <img src="{{ site.data.about[2].image }}" alt="{{ site.data.about[2].alt }}">
    </div>
  </div>
</section>